// font family
$primary-font:'Poppins', sans-serif;
$secondary-font:'Teko', sans-serif;
$roboto-font: 'Roboto', sans-serif;


$text-primary: #ff5e15;
$text-secondary:#15133C;

// Text Color Variables
$text-white:#fff;
$text-black:#000;

// gray
$text-gray-200:#f8f8f8;
$text-gray-300:#eff3f6;
$text-gray-500:#D0D3D4;
// black
$text-black-100:#111111fc;

// navy blue
$text-navy-blue-800:#00173c;







$bg-primary:#ff5e15;
$bg-secondary: #15133C;

// Background Color Variables
$bg-white:#fff;
$bg-black:#000;

// gray
$bg-gray-200:#f8f8f8;
$bg-gray-300:#eff3f6;
$bg-gray-500:#D0D3D4;

// navy blue
$bg-navy-blue-800:#00173c;

// black
$bg-black-100:#111111;




// Media Query Screen Breakpoints

$breakpoint-xxl:1440px;
$breakpoint-xl:1200px;
$breakpoint-lg:1030px;
$breakpoint-md:991px;
$breakpoint-768:768px;
$breakpoint-sm:550px;