// text colors
.text_primary{
    color: $text-primary;
}
.text_secondary{
    color: $text-secondary;
}

// background colors
.bg_primary{
    background-color: $bg-primary;
}
.bg_secondary{
    background-color: $bg-secondary;
}
.bg_gray_200{
    background-color: $bg-gray-200;
}
