// font sizes
.fs_8{
    font-size: 0.571rem;
}
.fs_9{
    font-size: 0.643rem;
}
.fs_10{
    font-size: 0.714rem;
}
.fs_11{
    font-size: 0.786rem;
}
.fs_12{
    font-size: 0.857rem;
}
.fs_13{
    font-size: 0.929rem;
}
.fs_14{
    font-size: 1rem;
}
.fs_15{
    font-size: 1.072rem;
}
.fs_16{
    font-size: 1.143rem;
}
.fs_17{
    font-size: 1.215rem;
}
.fs_18{
    font-size: 1.286rem;
}
.fs_19{
    font-size: 1.358rem;
}
.fs_20{
    font-size: 1.429rem;
}
.fs_21{
    font-size: 1.501rem;
}
.fs_22{
    font-size: 1.572rem;
}
.fs_23{
    font-size: 1.644rem;
}
.fs_24{
    font-size: 1.715rem;
}
.fs_25{
    font-size: 1.787rem;
}
.fs_26{
    font-size: 1.858rem;
}
.fs_27{
    font-size: 1.93rem;
}
.fs_28{
    font-size: 2.001rem;
}
.fs_29{
    font-size: 2.073rem;
}
.fs_30{
    font-size: 2.144rem;
}