.header_style_2{
    position: relative;
    nav{
        .header_nav{
            // position: relative;
            ul li {
                a{
                    color:$text-black;
                    padding: 14px 10px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-family: $roboto-font;
                    font-size: 1rem;
                    transition: all 0.2s linear;
                    .active{
                        background-color: $bg-primary;
                        color:$text-white;
                    }   
                }
                &:hover{
                    a{
                        background-color: $bg-primary;
                        color:$text-white;
                    }
                    .product_sub_menu{
                       
                        visibility:visible;
                        opacity: 1;
                        li span{
                            color:$text-black;
                            background-color:transparent;
                            &:hover{
                                color:$text-primary;
                            }
                        }
                    }
                    
                }
                // &:active{
                //     a{
                //         background-color: $bg-primary;
                //         color:$text-white;
                //     }
                // }
                .product_sub_menu{
                    position:absolute;
                    // top:56px;
                    left:0px;
                    background-color: $bg-white;
                    z-index:9999;
                    // overflow-y: auto;
                    // max-height: calc(100vh - 100px );
                    transition: all 0.2s linear;
                    visibility:hidden;
                    opacity: 0;
                    box-shadow: -12px 10px 36px -4px #e0dbd9;
                    .micro_menu{
                        column-gap: 25px;
                        li{
                            // border-bottom: none !important;
                            margin-bottom: 0.4rem;
                            padding:0.2rem 0rem !important;
                           span{
                            padding: 0rem;
                            font-size: 0.857rem;
                            font-weight: 500;
                           }
                           
                        }
                        .micro_menu_li{
                            margin-bottom: 2rem;
                            padding:0.5rem 1rem;
                            .micro_menu_li_head{
                                border-bottom: 1px solid gray;
                                span{
                                    font-weight: 800;
                                }
                            }
                            &:hover{
                                background-color: $bg-gray-300;
                                cursor: pointer;
                            }
                        }
                        
                    }
                    
                }
            }     
        }
      
    }
    .commn_sub_menu_height{
        max-height: calc(100vh - 100px );
        overflow-y: auto;
    }
    .commn_sub_menu_height::-webkit-scrollbar {
        width: 5px;
        border-radius: 0.3rem;
    }
    .commn_sub_menu_height::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: transparent;
    }
    .commn_sub_menu_height::-webkit-scrollbar-thumb {
        background-color: $bg-gray-500;
        // outline: 1px solid slategrey;
        border-radius: 6px;
      }
      
    
}