.products_category{
    .owl-carousel {
        .owl-nav {
            margin-top: 0px;
            text-align: center;
            position:absolute;
            top: calc(50% - 23px);
            width: 100%;
        }
        .owl-nav button.owl-prev{
            position:absolute;
            left: -20px;
        }
        .owl-nav button.owl-next{
            position: absolute;
            right: -20px;
        }
    } 
   
}